* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(235,247,255);
}

ul li {
  list-style: none;
}

#main {
  position: relative;
  width: 880px;
  margin: 0 auto;
  padding-top: 200px;
  background: url('../images/banner.jpg')no-repeat;
}

/*layout*/
.layout {
  margin-top: 10px;
}

/*top*/
#top {
  margin-bottom: 8px;
}
.top-nav {
  position: absolute;
  top: 172px;
  left: 484px;
}

.top-nav ul li {
  float: left;
  margin-left: 20px;
}

.top-nav ul li a {
  color: #fff;
  font-size: 14px;
}
.top-nav ul li a:hover {
  color: #000;
}

/*body*/
#mybody {
  width: 880px;
  height: 784px;
}

/*mybody-left*/
.mybody-left {
  float: left;
  width: 696px;
  height: 614px;
}
.mybody-left-one {
  height: 140px;
}

.mybody-left-one .left-one-left {
  float: left;
  width: 294px;
  height: 140px;
  border: 1px solid rgb(53, 105, 119);
  background-color: rgb(163,215,255);
}
.mybody-left-one .left-one-left img, .left-one-right img {
  float: left;
}
.left-one-left .one-left-content {
  width: 230px;
  height: 140px;
  padding-top: 14px;
  padding-left: 60px;
  background: url('../images/time.jpg')no-repeat;
}
.one-left-content .left-content-abc {
  margin-top: 10px;
}
p.time span {
  font-size: 14px;
}
p.time span:nth-child(-n+2) {
  color: rgb(145,85,0);
}
p.time span:nth-child(3) {
  color: rgb(227,170,61);
}
.one-left-content p:nth-child(2) {
  color: rgb(125,15,0);
  font-size: 14px;
  margin-top: 5px;
}

.one-left-content .left-content-abc span a{
  display: inline-block;
  text-decoration: none;
  width: 18px;
  text-align: center;
  font-size: 12px;
  color: rgb(43,120,142);
}
.one-left-content .left-content-abc span a:hover{
  color: #000;
}

.mybody-left-one .left-one-right {
  float: right;
  width: 382px;
  height: 140px;
  border: 1px solid rgb(53, 105, 119);
  background-color: rgb(209,235,255);
}
.left-one-right .one-right-content {
  background: url('../images/recommendblog.jpg') no-repeat;
  padding-left: 50px;
  height: 140px;
  width: 338px;
  padding-top: 14px;
}
.left-one-right .one-right-content p {
  height: 18px;
}
.left-one-right .one-right-content p span:nth-child(1) {
  float: left;
  font-size: 14px;
  font-weight: bold;
  color: rgb(0,83,107);
}
.left-one-right .one-right-content p span:nth-child(2) {
  float: right;
  font-size: 12px;
  margin-right: 68px;
}
.left-one-right .one-right-content ul {
  margin-top: 8px;
  margin-left: 10px;
}
.left-one-right .one-right-content ul li {
  background: url(../images/arrow4.gif)no-repeat 2px;
  padding-left: 14px;
  line-height: 16px;
}
.left-one-right .one-right-content ul li a {
  text-decoration: none;
  font-size: 12px;
  color: rgb(42, 120, 142);
}
.left-one-right .one-right-content ul li a:hover {
  color: #000;
}

.mybody-left-two {
  height: 32px;
  border: 1px solid rgb(53, 105, 119);
  padding-left: 160px;
  line-height: 30px;
  font-size: 14px;
  background: url('../images/blogsearch.jpg')no-repeat; 
  background-color: rgb(209,235,255);
}

.mybody-left-two input, .mybody-left-tree input{
  margin-left: 2px;
  background-color: rgb(255,255,255);
}

.mybody-left-two input:nth-child(1) {
  width: 90px;
  height: 14px;
}

.mybody-left-two input:nth-child(5) {
  font-size: 12px;
  width: 20px;
  border:1px solid rgb(34, 108, 129);
  color: rgb(34, 108, 129);
  letter-spacing:-1px;
}

.mybody-left-tree {
  height: 32px;
  border: 1px solid rgb(53, 105, 119);
  line-height: 30px;
  font-size: 14px;
  background-color: rgb(209,235,255);
}

.mybody-left-tree label:nth-child(1), label:nth-child(4){
  margin-left: 8px;
  padding-left: 10px;
  background: url('../images/arrow5.gif')no-repeat 2px 8px;
}

.mybody-left-tree input:nth-child(2), input:nth-child(5) {
  width: 112px;
  border:1px solid rgb(34, 108, 129);
}
.mybody-left-tree input:nth-child(3), input:nth-child(6) {
  border:1px solid rgb(34, 108, 129);
  color: rgb(34, 108, 129);
}
/*four-five common */
ul.commonA {
  padding-left: 10px;
}

.commonA li {
  width: 300px;
  float: left;
  background: url('../images/arrow6.gif')no-repeat 0 10px;
  padding-left: 6px;
  box-sizing: border-box;
  line-height: 20px;
}
.commonA li a {
  text-decoration: none;
  color: rgb(42,120,142);
  font-size: 12px;
}
.commonA li a:hover {
  color: #000;
}

.mybody-left-four, .mybody-left-five {
  height: 166px;
  border: 1px solid rgb(53, 105, 119);
  padding-top: 36px;
  box-sizing: border-box;
  line-height: 30px;
  font-size: 14px;
  background: url('../images/recommendart.jpg')no-repeat; 
  background-color: rgb(222,241,255);
}

.mybody-left-five {
  height: 210px;
  padding-top: 4px;
  padding-left: 40px;
  background: url('../images/newnode.jpg')no-repeat; 
  background-color: rgb(222,241,255);
}
.mybody-left-five .commonA li {
  width: 260px;
  float: left;
}
.mybody-left-five .commonA li a{
  display: inline-block;
  width: 280px;
}
/*mybody-right*/
/*common-sidebar*/
ul.common-sidebar {
  padding-left: 8px;
}
.common-sidebar li {
  padding-left: 8px;
  background: url('../images/arrow2.gif')no-repeat 0 8px;
  line-height: 16px;
  font-size: 12px;
  color: #fff;
}
.common-sidebar li a {
  text-decoration: none;
  color: #fff;
}
.common-sidebar li a:hover {
  color: #000;
}

.common-sidebar li em {
  font-style: normal;
  color: rgb(57,192,218);
}

a.common-sidebar {
  white-space: pre-wrap;
  float: right;
  margin: 8px;
  margin-top: 18px;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}
a.common-sidebar:hover {
  color: #000;
}

/*right*/
.mybody-right {
  float: right;
  width: 176px;
  height: 760px;
  background-color: green;
}

.mybody-right-one{
  width: 176px;
  height: 110px;
  padding-top: 38px;
  box-sizing: border-box;
  background: url(../images/lstatistics.jpg)no-repeat;
  background-color: rgb(0,132,169);
}
.mybody-right-one ul {
  padding-left: 8px;
}
.mybody-right-one li{
  padding-left: 8px;
  background: url('../images/arrow1.gif')no-repeat 0 8px;
  line-height: 20px;
  color: #fff;
  font-size: 14px;
}
.mybody-right-one li em {
  padding: 0 4px;
  font-style: normal;
  font-weight: bold;
}
.mybody-right-two {
  width: 176px;
  height: 240px;
  padding-top: 38px;
  box-sizing: border-box;
  background: url('../images/lhotblog.jpg')no-repeat;
  background-color: rgb(0,132,169);
}
.mybody-right-tree {
  width: 176px;
  height: 228px;
  padding-top: 38px;
  box-sizing: border-box;
  background: url('../images/lrecent.jpg')no-repeat;
  background-color: rgb(0,132,169);
}
.mybody-right-tree .common-sidebar li,.mybody-right-four .common-sidebar li{
  background: url('../images/arrow3.gif')no-repeat 0 8px;
}

.mybody-right-four {
  width: 176px;
  height: 190px;
  padding-top: 38px;
  box-sizing: border-box;
  background: url('../images/lapply.jpg')no-repeat;
  background-color: rgb(0,132,169);
}



/*foot*/
#foot .foot-info ul {
  width: 582px;
  height: 30px;
  margin: 0 auto;
}

#foot .foot-info ul li {
  float: left;
}

#foot .foot-info ul li a {
  font-size: 12px;
  margin-left: 4px;
  margin-right: 4px;
  color: rgb(0,100,128)
}
#foot .foot-info ul li a:hover {
  color: #000;
}

#foot .foot-copyright {
  font-size: 14px;
  width: 200px;
  margin: 0 auto;
  color: rgb(0,100,128);
}